:root {
    border-top: none;
}

html, body {
    height: calc(100% - 20px);
}

body {
    max-width: none;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

#filename { margin: 0; }

#tools { float: none; }

#typebox {
    width: 100%;
    height: calc(100% - 20px);
    /* prevent the user from resizing the element */
    resize: none;
    /* keep scrolling behavior if content overflows */
    overflow: auto;
}
